
body {
  background: black;
  color: white;
  font-size: 100%;
}

.example {
  font-size: 350%;
  font-style: italic;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  margin: 0% 20%;
  padding: 0% 2%;
}

button {
  font-size: 150%;
  font-style:italic;
}
