
body {
  background: black;
  color: white;
}

.example {
  color: lightblue;
  font-size: 350%;
  font-style: italic;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  text-align: center;
  margin: 0% 20%;
  padding: 0% 2%;
}

.swap {
  background-color: red;
  color: crimson;
  font-style:italic;
}

img {
  margin: 0% 20%;
}